In [3]:
import pandas as pd
import numpy as np

In [4]:
data=pd.read_csv(r"C:\End_To_End_Project\notebooks\data\cubic_zirconia.csv")

In [5]:
data=data.drop(labels=["Unnamed: 0"],axis=1)

In [6]:
data.head()

   carat        cut color clarity  depth  table     x     y     z  price
0   0.30      Ideal     E     SI1   62.1   58.0  4.27  4.29  2.66    499
1   0.33    Premium     G      IF   60.8   58.0  4.42  4.46  2.70    984
2   0.90  Very Good     E    VVS2   62.2   60.0  6.04  6.12  3.78   6289
3   0.42      Ideal     F     VS1   61.6   56.0  4.82  4.80  2.96   1082
4   0.31      Ideal     F    VVS1   60.4   59.0  4.35  4.43  2.65    779

In [7]:
x=data.drop(labels=["price"],axis=1)

In [8]:
x

       carat        cut color clarity  depth  table     x     y     z
0       0.30      Ideal     E     SI1   62.1   58.0  4.27  4.29  2.66
1       0.33    Premium     G      IF   60.8   58.0  4.42  4.46  2.70
2       0.90  Very Good     E    VVS2   62.2   60.0  6.04  6.12  3.78
3       0.42      Ideal     F     VS1   61.6   56.0  4.82  4.80  2.96
4       0.31      Ideal     F    VVS1   60.4   59.0  4.35  4.43  2.65
...      ...        ...   ...     ...    ...    ...   ...   ...   ...
26962   1.11    Premium     G     SI1   62.3   58.0  6.61  6.52  4.09
26963   0.33      Ideal     H      IF   61.9   55.0  4.44  4.42  2.74
26964   0.51    Premium     E     VS2   61.7   58.0  5.12  5.15  3.17
26965   0.27  Very Good     F    VVS2   61.8   56.0  4.19  4.20  2.60
26966   1.25    Premium     J     SI1   62.0   58.0  6.90  6.88  4.27

[26967 rows x 9 columns]

In [10]:
x.select_dtypes(include='object')

             cut color clarity
0          Ideal     E     SI1
1        Premium     G      IF
2      Very Good     E    VVS2
3          Ideal     F     VS1
4          Ideal     F    VVS1
...          ...   ...     ...
26962    Premium     G     SI1
26963      Ideal     H      IF
26964    Premium     E     VS2
26965  Very Good     F    VVS2
26966    Premium     J     SI1

[26967 rows x 3 columns]

In [12]:
categorical_cols=x.select_dtypes(include='object').columns

In [13]:
numerical_cols=x.select_dtypes(exclude='object').columns

In [14]:
# Define the custom ranking for each ordinal variable
cut_categories = ['Fair', 'Good', 'Very Good','Premium','Ideal']
color_categories = ['D', 'E', 'F', 'G', 'H', 'I', 'J']
clarity_categories = ['I1','SI2','SI1','VS2','VS1','VVS2','VVS1','IF']

In [15]:


from sklearn.impute import SimpleImputer ## HAndling Missing Values
from sklearn.preprocessing import StandardScaler # HAndling Feature Scaling
from sklearn.preprocessing import OrdinalEncoder # Ordinal Encoding
## pipelines
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer

In [21]:


num_pipeline=Pipeline(
    
    
    steps=[
        
        ('imputer',SimpleImputer()),
        ('scaler', StandardScaler())
    ]
    
    
)

In [22]:


cat_pipeline=Pipeline(
    
    steps=[
        ('imputer',SimpleImputer(strategy='most_frequent')),
        ('ordinalencoder',OrdinalEncoder(categories=[cut_categories,color_categories,clarity_categories]))
    ]
    
)

In [23]:
preprocessor=ColumnTransformer(
    [
        
        ('num_pipeline',num_pipeline,numerical_cols),
        ('cat_pipeline',cat_pipeline,categorical_cols)
    ]
)

2